@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v11/ODelI1aHBYDBqgeIAH2zlNOAHFN6BivSraYkjhveRHY.woff2) format('woff2');
}
body.fbIndex {
    background: url('https://images.pexels.com/photos/655352/pexels-photo-655352.jpeg')left center fixed !important;
    -webkit-background-size: cover;
    -moz-background-size: 100% !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    overflow-y: hidden
}
.loggedout_menubar_container {
    background: none !important;
}
.fbIndex #globalContainer #dropmenu_container,
.fbIndex #globalContainer #content,
.fbIndex #globalContainer #pageFooter {
    display: none !important
}
.fbIndex .loggedout_menubar_container {
    position: fixed !important;
    width: 420px !important;
    height: 82px !important;
    min-width: 0 !important;
    top: 35% !important;
    left: 35% !important;
    margin-top: -17px !important;
    margin-left: auto !important;
    z-index: -1 !important;
}
.fbIndex .loggedout_menubar {
    width: 500px !important;
    height: 215px;
    background-color: rgba(44, 44, 44, 0.36)!important;
    margin-top: 150px;
    padding-top: 20px;
    padding-left: 30px;
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.53);
    transition: all .3s ease-out;
    border-radius: 12px;
}

.fbIndex .loggedout_menubar:hover {
   	background-color: rgba(90, 90, 90, 0.26)!important;
    box-shadow: 0px 10px 30px 0px rgba(17, 17, 17, 0.49);
}

.fbIndex .loggedout_menubar_container .lfloat,
.fbIndex .loggedout_menubar_container .rfloat {
    float: none !important
}
.fbIndex .loggedout_menubar_container .lfloat img,
.fbIndex .loggedout_menubar_container .rfloat #login_form table {
    display: block !important;
    margin: 50px auto 0 !important
}
.fbIndex .loggedout_menubar_container .lfloat img {
    display: block;
    margin: -60px auto 20px !important;
}
._5a-- {
    display: none !important
}
#SetAsHomepage_Callout {
    display: none;
}

/*INPUT*/
td .inputtext, td .inputpassword {
    background-color: transparent;
    height:25px;
    border-top-color: transparent!important;
    border-right-color: transparent!important;
    border-left-color: transparent!important;
    border-bottom-color: #fff!important;
	transition: all .3s ease-out;
    font-family: Montserrat,roboto, tahoma, arial, sans-serif!important;
    color: #fff;
    font-weight: normal;
}
td .inputtext {
    font-family:Montserrat;
	text-transform: uppercase;
}
td .inputpassword {
    font-family:Montserrat;
	font-size: 20px;
}
.inputtext:hover {
    outline: none;
}

.inputtext:focus {
    outline: none;
}


/*SUBMIT*/

.uiButtonConfirm {
    background-image: none!important;
    background-color: transparent;
    border-top-color: transparent!important;
    border-right-color: transparent!important;
    border-left-color: transparent!important;
    border-bottom-color: #fff!important;
    width: 82px;
    height: 28px;
    transition: all .3s ease-out;
}

.uiButtonConfirm:hover {
    background-color: transparent;
}

.uiButtonConfirm:focus {
    background-image: none!important;
}


.uiButton:focus, .uiButtonSuppressed:active, .uiButtonSuppressed:focus, .uiButtonSuppressed:hover {
    background-image:none!important;
}

.uiButtonText, .uiButton 
input {
    border: 0;
    color: #fff;
    cursor: normal;
    display: inline-block;
    font-size: 11px;
    font-weight: normal;
    line-height: 35px;
    transition: all .3s ease-out;
    font-family: roboto, tahoma, arial, sans-serif!important
}

.uiButtonText, .uiButton 
input:hover {
    color: #888;
    
}

.uiButtonText, .uiButton 
input:focus {
    background-image: none;
    background-color: transparent!important;
    outline: none;
}
/*LOGO*/
.sp_7XMX65Pq0E7.sx_ccd1d2 {
    margin: 10px;
}

/*LABEL'S*/
.menu_login_container .html7magic label {
    margin-top: 30px;
    text-transform: uppercase;
    color: #fff;
    font-size: 10px;
    font-weight: normal;
    font-family: Source Sans Pro,roboto, tahoma, arial, sans-serif!important    
}
#login_form{
	margin-top: 50px;
}
/*OPCIONES ABAJO*/
.menu_login_container .login_form_label_field label, .menu_login_container .login_form_label_field a {
    color: #FFFFFF;
    font-weight: normal;
    font-family: roboto, tahoma, arial, sans-serif!important
}
._53jh {
    background-color: #3b5998;
    background-image: linear-gradient(#4e69a2, #3b5998 50%);
    border-bottom:none;
    min-height: 0px;
}
.sp_WQkjDN-lT6A_1_5x {
    margin-left: 150px;
    background-image: url(/rsrc.php/v3/yw/r/d0QgfwH16VF.png);
    background-size: 170px 128px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 14px;
    width: 14px;
}
/* button login */
.uiButtonText, .uiButton input {
    text-transform: uppercase;
    border: 0;
    color: #fff;
    cursor: normal;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: 35px;
    transition: all .3s ease-out;
    font-family: Source Sans Pro, sans-serif!important;
}

.uiButtonConfirm:active, .uiButtonConfirm.uiButtonDepressed {
    background-color: rgba(192, 192, 192, 0.61);
    border-color: rgba(192, 192, 192, 0.61);
}
.uiButtonConfirm:hover {
    background-color: rgba(192, 192, 192, 0.61);
    border-color: rgba(192, 192, 192, 0.61);
}
.uiButtonText, .uiButton input:hover {
    color: #fff;
}
/*  */
body{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}
a:hover {
    text-decoration: none !important;
}


/* Navigation bar */
._2s1y {
    background: linear-gradient(141deg, #cf433f 10%, #e09346 75%) !important;
    border-bottom: none !important;
    color: #fff !important;
    box-shadow: 0px -13px 32px 11px #e09346 !important;
}
._585- {
    border: 1px solid #ececec !important;
    border-radius: 3px !important;
}

/* Right pannel */

._5pr2.fbChatSidebar {
    background-color: rgba(13, 13, 13, 0) !important;
    border-left: 0px solid rgba(13, 13, 13, 0) !important;
    box-shadow: none !important;
}

.fbSidebarGripper {
    border-bottom: none !important;
    border-top: none !important;
    display: none !important;
}

._55oc ._2l56 {
    font-size: 10px !important;
    margin-right: 20px !important;
}

._55ln {
    padding: 10px 0 !important;
    margin-bottom: 5px !important;
}

._55ln:hover,
._55ln:focus,
._55ln li.selected {
    background: linear-gradient(141deg, #f6d330 0%, #e09346 75%) !important;
    box-shadow: 1px 0 0 rgba(13, 13, 13, 0) inset !important;
    text-decoration: none !important;
    box-shadow: 6px 6px 25px -6px #e09346 !important;
    border-radius: 5px 0 0 5px !important;
}

._55ln ._55lr,
._55ln ._55ls {
    padding-left: 15px !important;
    transition: all 0.2s;
}

.pagelet_canvas_nav_content ._4ejc {
    background-color: rgba(255, 255, 255, 0.05) !important;
}

._5ugf {
    background-color: #df8f49 !important;
    border: 2px solid #df8f49 !important;
    border-radius: 2px !important;
    color: #ffffff !important;
    padding: 0 3px !important;
}

._26z1,
._26z1 a {
    color: #df8f49!important;
    line-height: 2!important;
}
* Tro choi chua ban */
._3qc0 ._3qb_ {
    margin-top: 10px!important;
}

._4ejc ._3tx {
    margin: 5px 0 !important
}

._4ejc ._3tb {
    height: 40px !important;
    width: 40px !important;
}

._4ejc ._3t9 {
    padding-left: 16px !important;
}

._4ejc ._3tb ._3tm img {
    height: 40px !important;
    width: 40px !important;
}

._4ejc ._3ts {
    color: #4c4c4c;
    text-shadow: none!important;
}

._3tr a {
    text-shadow: none!important;
}

._5pr2 ._5qmw.contentBefore:before {
    background-color: rgba(0, 0, 0, 0.05) !important;
    height: 1px !important;
    box-shadow: 0px -10px 26px 2px rgba(0, 0, 0, 0.38) !important;
}

.uiSideNavEditButton a,
._2jq5 {
    background-color: rgb(224, 147, 70) !important;
    border-color: rgba(0, 0, 0, 0) !important;
    transition-duration: 100ms !important;
    background-image: none !important;
    height: 43px !important;
    width: 25px !important;
    border-width: 0px !important;
}

._558b._57di ._54nc,
.uiContextualLayer ._54ng ._54nc ._54nh {
    color: black !important;
}

.uiSideNavEditButton .uiPopover a {
    position: relative!important;
}

._55y4 .homeSideNav .uiSideNavAux:after,
.uiSideNavEditButton .uiPopover a:after {
    content: '';
    background-color: white;
    border-radius: 50%;
    height: 4px;
    width: 4px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
}

._558b ._54nd ._54nc {
    background-position: 0px 16px!important;
}

.navHeader {
    padding-bottom: 5px !important;
    padding-top: 15px !important;
}

.navHeader a {
    height: 35px !important;
}

._1cwg {
    color: #df8f49 !important;
    transition: all 0.5s !important;
}

._1cwg:hover {
    color: #df8f49 !important;
    background-color: white;
    padding: 2px 8px 2px !important;
    text-decoration: none !important;
    box-shadow: 6px 6px 25px -6px rgba(0, 0, 0, 0.2) !important;
    border-radius: 3px;
}

._y-c {
    color: #df8f49 !important;
    background-color: white;
    padding: 2px 8px 4px !important;
    border-radius: 3px;
    transition: all 0.5s !important;
}

._y-c:hover {
    color: #df8f49 !important;
    text-decoration: none !important;
    box-shadow: 6px 6px 25px -6px rgba(0, 0, 0, 0.2) !important;
}

._5afe {
    margin-bottom: 5px !important;
    padding: 8px 4px 7px 35px !important;
}

._5afe::after {
    background: linear-gradient(141deg, #f6d330 0%, #e09346 75%) !important;
    border: none !important;
    border-radius: 3px !important;
    box-shadow: 6px 6px 25px -6px #e09346 !important;
    transition: 800ms cubic-bezier(0.08, 0.52, 0.52, 1) background, 700ms cubic-bezier(0.08, 0.52, 0.52, 1) border-color, 400ms cubic-bezier(0.08, 0.52, 0.52, 1) opacity;
}

._5afe ._2jgb {
    background-color: #df8f49 !important;
    border: 1px solid #df8f49 !important;
    border-radius: 2px !important;
    color: #ffffff !important;
    padding: 0 2px !important;
}

#createNav ._3075,
#createNav ._3075 a {
    color: #df8f49 !important;
    line-height: 2 !important;
}

/* Trang cua ban pannel - center pannel */

.home_right_column .pagelet-group:nth-child(2) ._1-ia ._4-u2._1-ib._2tyk._20os._4-u8 {
    background: linear-gradient(141deg, #f6d330 0%, #e09346 75%) !important;
    color: #fff !important;
    box-shadow: 6px 6px 25px -6px #e09346 !important;
    border: none !important;
}

.home_right_column .pagelet-group:nth-child(2) ._1-ia ._4-u2._1-ib._2tyk._20os._4-u8:before {
    border: 1px solid rgba(255, 255, 255, 0) !important;
    border-color: rgba(255, 255, 255, 0) !important;
}

.home_right_column .pagelet-group:nth-child(2) ._1-ia ._4-u2._1-ib._2tyk._20os._4-u8 ._3652,
.home_right_column .pagelet-group:nth-child(2) ._1-ia ._4-u2._1-ib._2tyk._20os._4-u8 a,
.home_right_column .pagelet-group:nth-child(2) ._1-ia ._4-u2._1-ib._2tyk._20os._4-u8 div,
.home_right_column .pagelet-group:nth-child(2) ._1-ia ._4-u2._1-ib._2tyk._20os._4-u8 li,
.home_right_column .pagelet-group:nth-child(2) ._1-ia ._4-u2._1-ib._2tyk._20os._4-u8 span {
    color: #fff !important;
}

.home_right_column .pagelet-group:nth-child(2) ._1-ia ._4-u2._1-ib._2tyk._20os._4-u8 hr {
    background: rgba(255, 255, 255, 0) !important;
}

.home_right_column .pagelet-group:nth-child(2) ._1-ia ._4-u2._1-ib._2tyk._20os._4-u8 ._-0d {
    border-bottom: 1px solid rgba(221, 223, 226, 0) !important;
}

.home_right_column .pagelet-group:nth-child(2) ._1-ia ._4-u2._1-ib._2tyk._20os._4-u8 ._51xa button {
    line-height: 34px !important;
    border-color: rgba(206, 208, 212, 0) !important;
}

.home_right_column .pagelet-group:nth-child(2) ._1-ia ._4-u2._1-ib._2tyk._20os._4-u8 ._1os_ ul {
    padding: 5px 10px !important;
}

.home_right_column .pagelet-group:nth-child(2) ._1-ia ._4-u2._1-ib._2tyk._20os._4-u8 ._3qc0 ._3qb- {
    margin-top: 10px !important;
}

.home_right_column .pagelet-group:nth-child(2) ._1-ia ._4-u2._1-ib._2tyk._20os._4-u8 ._54nq ._2t9l {
    color: #1d2129 !important;
}

.home_right_column .pagelet-group:nth-child(2) ._1-ia ._4-u2._1-ib._2tyk._20os._4-u8 ._54nq ._54nc img {
    border-radius: 50% !important;
}

.home_right_column .pagelet-group:nth-child(2) ._1-ia ._4-u2._1-ib._2tyk._20os._4-u8 ._1d6f a img {
    border-radius: 50% !important;
    box-shadow: 6px 6px 27px 0px #e09346 !important;
}

._1oso {
    margin: 15px 0 !important;
}

._558b ._54nf {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

._558b._57di ._54nc {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

._558b ._54ne ._54nc,
._558b ._54nd._54ne ._54nc {
    background-color: rgba(0, 0, 0, 0.05) !important;
    border-color: rgba(255, 255, 255, 0) !important;
}

._2t8s._54nd ._54nc {
    background-position: 0 30px!important;
}

.img._c0r {
    border-radius: 50%;
    box-shadow: 6px 6px 27px 0px #e09346 !important;
}

._558b ._54nc {
    border-width: 4px!important;
}

/* Scrolbar */
body::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.08) !important;
    border-radius: 0 !important;
}

body::-webkit-scrollbar {
    width: 10px !important;
    background-color: rgba(13, 13, 13, 0) !important;
}

body::-webkit-scrollbar-thumb {
    border-radius: 0px !important;
    background-color: #e09346 !important;
    box-shadow: 3px 7px 20px 0px #e09346 !important;
}
/* Group */
._2yaa {
    height: 38px!important;
    padding-left: 5px;
}

._3o_h::after,
._2yaa ._2yau::after {
    background: linear-gradient(141deg, #f6d330 0, #e09346 75%)!important;
    border: none!important;
    border-radius: 3px!important;
    box-shadow: 6px 6px 25px -6px #e09346!important;
    transition: .8s cubic-bezier(.08, .52, .52, 1) background, .4s cubic-bezier(.08, .52, .52, 1) opacity;
}

._19s_ {
    margin-top: 7px!important;
}

._19sz {
    padding-top: 8px !important;
    padding-bottom: 8px;
}